li{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    & p{
        padding: 2px 3px;
    }
    & div{
        padding: 0px;
        gap: 0px;
    }
}
div{
    gap: 10px;
}
.butTeam{
    width: 100%;
    background-color: antiquewhite;
    border: none;
    border-radius: 5px;
}
#teamHome{
    justify-content: flex-end;
    gap: 20px;
}
#teamAwai{
    justify-content: flex-start;
    gap: 20px;
}
.actions{
    background-color: aquamarine;
    justify-content: space-between;
    & div{
        width: 50px;
        padding: 0px 10px;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }
    & button{
        padding: 0.5px 1px;
        border: none;
    }
}
