div {
    background-color:whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#butGames {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1px;
}