#functionsDiv{
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    & .buttonsAdmin{
    background-color: white;
    border: solid 3px black;
    border-radius: 10px;
    font-weight: 800;
}
}
